*{
    margin: 0;
    padding: 0;
}

                                /* Body and Background Image Formatting  */

body {
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('imgs/yoga\ studio.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .7;
    z-index: -1;
}


                                            /* Header Formatting */

a {
    color: #000;
    text-decoration: none;
}

header {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    
}

header p {
    padding: 1rem 1rem 1rem 1.5rem;
    font-size: 1.5rem;
}

header ul {
    display: flex;
    list-style: none;
    
}

header ul li {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1rem 1.5rem 1rem 1rem;
    
}


                                    /* Grid Container Formatting and Templates*/

.container {
    padding: 2rem;

    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    grid-template-columns: 30rem 15rem 15rem;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
   
}


                                            /* Universal Cell Formatting */


.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15rem;
    overflow: hidden;
    position: relative;
}


.cell > * {
    position: relative;
    z-index: 1;
}

                                        /* Excluding Cell 1 from Hover Effect */

.cell:not(.cell1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    pointer-events: none;
}

.cell:not(.cell1):hover::before {
    background-color: rgba(0, 0, 0, 0.5); 
}



                                                /* Class Titles */

.cell h4 {
    color: #000;
    font-family: "Lobster Two", sans-serif;
    font-size: 2rem;
    background-color: #ffffffc5;
    padding: .25rem;
    border-radius: 1rem;
    text-align: center;
}



                                            /* Cell 1 Formatting */

.cell1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100%;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;

    background: rgba(255, 255, 255, 0.644);
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.cell1 > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cell1 h3 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2.5rem;
    font-family: "Lobster Two", sans-serif;;
}

.cell1 p {
    font-family: "Roboto", sans-serif;
}


.mission-section {
    padding: 1rem;
    margin-top: auto;
    margin-bottom: 7rem;
}

.classes-section {
    margin-bottom: auto;
    padding: 1rem;
}



                                    /* Cell Background Images */

.cell2 {
    background-image: url('imgs/advanced-yoga.jpg');
}

.cell3 {
    background-image: url('imgs/group-classes.jpg');
}

.cell4 {
    background-image: url('imgs/at-home.jpg');
}

.cell5 {
    background-image: url('imgs/meditation.jpg');
}

.cell6 {
    background-image: url('imgs/one-on-one.jpg');
}

.cell7 {
    background-image: url('imgs/outdoor-classes.jpg');
}



.material-symbols-outlined {
    font-size: 1rem;
}

.material-symbols-outlined:hover {
    font-size: 1rem;
    
}




.social-icons {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    font-size: 2rem;
}

.social-icons:hover {
    scale: 1.1;
}